body {
  /* background-color: rgb(110, 72, 212); */
  background-color: rgb(72, 105, 212);
}
.container {
  margin: 0;
  padding: 0;
}
.main {
  max-width: 400px;
  margin: 100px auto;
}
h1 {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.89);
}
.card {
  background-color: rgba(249 249 249 / 88%);
  max-width: 300px;
  min-height: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #000000;
}
.center {
  display: grid;
  align-content: center;
  justify-content: center;
}
input {
  width: 100%;
  height: 25px;
  caret-color: rgb(72, 105, 212);
  border: 1px solid rgb(95, 103, 120);
  outline-offset: 0px;
  outline: none;
}
label {
  display: inline-block;
  margin: 10px 0;
  color: rgb(43, 45, 59);
  font-weight: bold;
}
button {
  margin-top: 50px;
  background-color: rgb(72, 105, 212);
  border: 1px solid rgb(95, 103, 120);
  box-shadow: 0px 0px 1px #000000;
  color: #fff;
  font-size: 12px;
  width: 150px;
  height: 30px;
  border-radius: 3px;
}
.validator {
  margin: 10px 0;
}
.note {
  color: rgb(178, 4, 4);
}
.sentence {
  color: rgb(47, 74, 162);
  font-size: 22px;
  padding: 10px;
  text-align: center;
}
